body {
	background-color: #333334;
	min-width: 1020px;
}

div.menu {
	margin-top: -10px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	background-color: #489d1e;
	position: relative;
	width: 100%;
	min-height: 100px;
	-moz-border-radius: 10px;
}

div.menu_button {
	top: 0px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	padding: 30px;
	position: relative;
	right: 0px;
	left: 200px;
	float: left;
	
	background-color: white;

	border-color: black;
	border-style: solid;
	border-width: 2px;

	color: black;
	font-size: 26pt;
	cursor: pointer;
}

div.menu_button_kijelolt {
	background-color: #333334;
	border-color: red;
	color: white;
	cursor: default;
}

div#content {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	background-color: #ededed;
	position: relative;
	right: -10px;
	left: 10px;
	float: left;
	min-height: 600px;
	min-width: 600px;
}

div.leftcontent {
	margin-top: 10px;
	margin-bottom: 10px;

	position: relative;
	width: 200px;
	left: 10px;

	float: left;
}

div.scrollcontent {
	background-color: #ededed;

	overflow: hidden;
	overflow-y: scroll;
	max-height: 500px;
}

div.edit_data_available {
	margin: 0px;
	padding: 10px;
	background-color: #333334;
	color: white;
	position: relative;
	border-bottom: 1px solid #409915;
}

div#settings {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	position: relative;
	width: 100px;
	right: 0px;
	left: 0px;
	float: left;
	min-height: 600px;
	color: white;
}

div#settings ul {
	text-align: left;
	list-style-type: none;
}


div#settings a:link, a:visited {
	color: #489d1e;
}

div#settings a:hover {/*, a:activated {*/
	font-weight: bold;
	text-decoration: underline;
}







div#titlediv {
	text-shadow: 0px 0px 20px white;
	color: white;
	padding-left: 20px;
	font-family: "Times New Roman";
	
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 1200px;
}

div#lastmessagediv {
	text-shadow: 0px 0px 20px white;
	color: gray;
	padding-left: 20px;
	font-family: "Times New Roman";
	
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

table#eszkozok {
	font-size: 13px;
	font-family: "Times New Roman";
	border-color: black;
	border-style: solid;
	border-width: 2px;
	
	box-shadow: 3px 3px 10px #700;
	-webkit-box-shadow: 3px 3px 10px #888;
	-moz-box-shadow: 3px 3px 10px #334455;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

